body {
    font-family: sans-serif;
    padding: 0;
    background-image: url("/Users/salsademazapan/Desktop/Julia/Recursos/Fondo.jpeg");
}

header{;
    font-size: 40px;
    margin-top: 200px; /* Espacio para la barra de navegación */
    text-align: center;
}
article h1{
        font-size: 35px;
}
#text{
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    float: left;
    width: 50%;
    height: 25%;
}
#text2{
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    float: right;
    width: 50%;
}
img{
    margin-top: 120px;
    width: 40%;
    height: 25%;
    float: right;
    margin-right: 15px;
    margin-left: 2px;
}
#Green{
    align-self: center;
}
#text3{
    text-align: justify;
    width: 50%;
    font-size: 30px;
    color: white;
    padding: 20px;
    float: left;
    background-image: url("/Users/salsademazapan/Desktop/Julia/Recursos/Green.jpeg");
    width: 98%;
}

nav {
    background-image: url("/Users/salsademazapan/Desktop/Julia/Recursos/Header2.jpeg");
    color: #fff; /* Texto en blanco */
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100px;
    top: -120px; /* Esconde la barra de navegación */
    transition: top 0.3s;
}

nav.show {
    top: 0; /* Muestra la barra de navegación */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}

nav ul li {
    display: inline-block;
    font-size: 30px;
    line-height: 1.8;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Enlaces en blanco */
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #B46F52; /* Azul más oscuro al pasar el mouse */
}
.container {
    margin-top: 80px; /* Espacio para la barra de navegación */
    padding: 20px;
}

footer{
    font-size: 15px;
    text-align: center;
}
.slider-container {
    width: 100%;
    max-width: 40%;
    overflow: hidden;
}

#slider {
    margin-left: 100px;
    width: 100%;
    float: left;
    height: 600px;
    transition: transform 0.5s ease; /* Animación de transición suave */
}
.slider-container2{
    width: 100%;
    max-width: 40%;
    overflow: hidden;
}

#slider2{
    margin-right: 100px;
    width: 100%;
    float: right;
    height: 600px;
    transition: transform 0.5s ease; /* Animación de transición suave */
}